#define IDI_HARDWARESCOPE 101
#define IDR_AMD_FAMILY17 201
#define IDR_LPC_IO 202
#define IDR_SMBUS_PIIX4 203

IDI_HARDWARESCOPE ICON "HardwareScope.ico"
1 RT_MANIFEST "app.manifest"
IDR_AMD_FAMILY17 RCDATA "AMDFamily17.bin"
IDR_LPC_IO RCDATA "LpcIO.bin"
IDR_SMBUS_PIIX4 RCDATA "SmbusPIIX4.bin"
